.avatar--rounded {
  width: 150px;
  height: 150px;
  border: 1px solid #efefef;
  display: inline-block;
  background: white;
  padding: 5px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin: 5px;
}
