.box {
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.10);
  border-radius: 5px;
  padding: 20px;

  h4 {
    color: #00BCD4;
  }

  p {
    color: grey;
  }

  ul {
    color: grey;
  }
}
