.owl-stage-outer {
  border-radius: 5px;
}

.owl-nav {
  margin-bottom: 40px;
}

.owl-next, .owl-prev {
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  display: inline;
}
