.owl-stage-outer {
  border-radius: 5px;
}

.owl-nav {
  padding: 30px;
  margin-bottom: 40px;
}

.owl-next, .owl-prev {
  margin: 0px 5px;
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  display: inline;
}
