.table {
  background-color: white;
  border-radius: 5px;

  th {
    color: grey;
  }
  td {
    color: grey;
  }

  .fa-check {
    color: green;
  }

  p {
    margin-bottom: 0px;
  }

  .white {
    color: white;
  }
}
